@import "tailwindcss/base";
@import "tailwindcss/components";

.projectCardContainer{
    @apply flex-initial bg-white h-56 w-56 rounded-lg p-4 shadow-md m-10;
    animation: fadeIn 1s ease;
}

.projectName{
    @apply text-gray-900 text-xl font-semibold truncate;
}

.projectDescription{
    @apply text-gray-600 font-medium mt-2;
}

.projectCategoryContainer{
    @apply px-2 bg-red-500 rounded-full text-center shadow-sm;

}

.projectCategory{
    @apply text-gray-100 mt-3 font-medium;
}

.phaseCardContainer{
    @apply flex-initial bg-white w-64 p-4 rounded-lg m-10;
    animation: fadeIn 1s ease;
}

.phaseName{
    @apply text-2xl font-semibold text-gray-900;
}

.phaseCategoryContainer{
    @apply bg-red-500 rounded-full shadow-sm inline-block px-2;
}

.phaseCategory{
    @apply text-gray-100 font-medium;
}

.phaseDescription{
    @apply mt-2 text-gray-700 text-xl;
}

.newCardContainer{
    @apply m-10 bg-white h-56 w-56 rounded-lg p-4 shadow-md;
    animation: fadeIn 1.5s ease;
}

.newCardTitle{
    @apply text-gray-900 font-semibold text-xl text-center;
}

.newCardImage{
    @apply w-24 h-24 m-auto mt-6 text-center;
}

.task{
    @apply text-lg text-gray-900 py-3 px-2 bg-gray-100 mt-2 rounded-lg;
    animation: fadeIn .2s ease;
}

.taskContainer{
    @apply flex p-4 w-full;
    animation: fadeIn 1s ease;
}

.columnContainer{
    @apply w-1/3 h-auto bg-white mx-4 rounded-lg p-4;
    animation: fadeIn 1.5s ease;
}

.columnTitle{
    @apply text-xl text-gray-800;
}

.sidebar{
    @apply h-screen top-0 sticky overflow-y-scroll w-64;
}

.sidebarUserContainer{
    @apply mt-12 text-center;
    animation: fadeIn 1s ease;
}

.sidebarProfilePicture{
    @apply w-32 h-32 m-auto;
}

.sidebarUserName{
    @apply mt-4 text-gray-900 text-xl font-semibold;
}

.sidebarSettingsLabel{
    @apply text-gray-600;
}

.sidebarListContainer{
    @apply mx-auto my-12;
    animation: fadeIn 1s ease;
}

.sidebarItem{
    @apply flex text-gray-900 p-4 text-lg font-medium items-center;
}

.textboxLabel{
    @apply block mt-1 mb-1 text-gray-700 px-1 font-semibold;
    animation: fadeIn 1s ease;
}

.textbox{
    @apply rounded-lg mb-1 py-2 px-2 w-64 shadow-sm outline-none;
    animation: fadeIn 1.5s ease;
}

.registrationTextbox{
    @apply rounded-lg mb-1 py-2 px-2 w-32 shadow-sm outline-none;
    animation: fadeIn 1.5s ease;
}

.textbox:focus{
    @apply shadow-outline block;
}

.registrationTextbox:focus{
    @apply shadow-outline block;
}

.submitBtn{
    @apply block px-2 py-2 mt-2 rounded-lg bg-green-500 text-white shadow-sm font-semibold;
    animation: fadeIn 1.5s ease;
}

.headerContainer{
    @apply top-0 sticky bg-white;
    animation: fadeIn .5s ease;
}

.headerTitle{
    @apply text-6xl font-semibold text-gray-900 truncate;
}

.headerDescription{
    @apply text-gray-600 text-lg;
}

.errorContainer{
    @apply text-gray-100 px-1 font-semibold bg-red-500 rounded-lg w-64;
    animation: fadeIn .5s ease;
}

.taskTextArea{
    @apply w-full bg-gray-300 rounded-lg px-2 py-2 shadow-sm;
    animation: fadeIn 1.5s ease;
}

.descriptionTextArea{
    @apply w-64 h-20 rounded-lg py-2 px-2 shadow-sm outline-none;
    animation: fadeIn 1.5s ease;
}

.descriptionTextArea:focus{
    @apply shadow-outline block
}

.categorySelector{
    @apply w-64 px-2 py-2 rounded-lg shadow-sm outline-none;
    animation: fadeIn 1.5s ease;
}

.categorySelector:focus{
    @apply shadow-outline block
}

.dateSelector{
    @apply w-64 px-2 py-2 rounded-lg shadow-sm outline-none;
    animation: fadeIn 1.5s ease;
}

.dateSelector{
    @apply shadow-outline block;
}

.layout{
    @apply flex flex-wrap bg-gray-200 rounded-lg pb-64
}

.homeContainer{
    @apply flex bg-gray-100 h-screen;
}

.homeTitle{
    @apply text-gray-900 font-semibold text-5xl;
    animation: fadeIn 1s ease;
}

.homeSubTitle{
    @apply text-gray-700 font-semibold text-lg;
    animation: fadeIn 1.5s ease;
}

.loginRegistration{
    @apply w-1/3 my-auto;
}

.loginRegistrationBtn{
    display: none;
}

.demoBtn{
    @apply px-2 py-2 mt-2 mx-2 rounded-lg bg-blue-500 text-white shadow-sm font-semibold w-16;
}



@media screen and (max-width: 828px){
    .sidebar{
        display: none;
    }

    .projectCardContainer{
        @apply mx-auto;
    }

    .newCardContainer{
        @apply mx-auto;
    }

    .phaseCardContainer{
        @apply mx-auto;
    }

    .layout{
        @apply flex-col
    }

    .taskContainer{
        @apply flex-col
    }

    .columnContainer{
        @apply w-full mx-auto mb-8;
    }
    .homeContainer{
        @apply flex-col pb-64 m-auto items-center;
    }

    .loginRegistration{
        display: none;
    }

    .loginRegistrationBtn{
        display: inline;
        @apply px-2 py-2 mt-2 mx-2 rounded-lg bg-green-500 text-white shadow-sm font-semibold;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

@import "tailwindcss/utilities"